<div class="welcome">
<div class="intro-header">
    <div class="intro-message">
        <h2>What can you help your clients accomplish today?</h2>
        <h3 id="margin">"#{NON_PROFIT} helps you guide them every step of the way"</h3>
			<%= link_to "Sign Up Today", new_user_registration_path, class: 'pure-button pure-button-primary' %>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <h4 class= "align-center"> App Built for Nonprofits </h4>
        </div>
    </div>
</footer>
</div>