development:
  TWILIO_ACCT_SID:
  TWILIO_AUTH_TOKEN:
  TWILIO_PHONE_NUMBER:
  SENDGRID_USERNAME:
  SENDGRID_PASSWORD:
  EMAIL_DOMAIN:
  NON_PROFIT:
staging:
  TWILIO_ACCT_SID:
  TWILIO_AUTH_TOKEN:
  TWILIO_PHONE_NUMBER:
  SENDGRID_USERNAME:
  SENDGRID_PASSWORD:
  EMAIL_DOMAIN:
  NON_PROFIT:
production:
  TWILIO_ACCT_SID:
  TWILIO_AUTH_TOKEN:
  TWILIO_PHONE_NUMBER: 
  SENDGRID_USERNAME: 
  SENDGRID_PASSWORD: 
  SECRET_KEY_BASE: 
  EMAIL_DOMAIN:
  NON_PROFIT: