<%= form_for([@action_plan, @goal], html: { class: "pure-form" }) do |f| %>
	<div>
		<%= f.text_field :description, class: 'pure-input', placeholder: "Enter goal description" %>
		<%= f.submit "Save goal", class: 'pure-button pure-button-primary' %>
		<%= link_to "Cancel", :back %>
	</div>
<% end %>

