
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-right-open-big:before { content: '\e801'; } /* '' */
.icon-right-thin:before { content: '\e802'; } /* '' */
.icon-right-open-1:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-pencil-1:before { content: '\e805'; } /* '' */
.icon-plus-circled:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-flag-checkered:before { content: '\e808'; } /* '' */
.icon-award:before { content: '\e809'; } /* '' */
.icon-ok-squared:before { content: '\e800'; } /* '' */
.icon-paper-plane-empty:before { content: '\e801'; } /* '' */