<% flash.each do |key, message| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <ul>
			<% if message.is_a? String %>
				<li><%= message %></li>
			<% elsif message.is_a? Array %>
				<% message.each do |msg| %>
				 	<li><%= msg %></li>
				<% end %>
			<% end %>
    </ul>
    	<button type="button" class="pure-button close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
  </div>
 <% end %>